# PHPUnit
/app/phpunit.xml
/phpunit.xml

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDEs
.idea/*
*.iml
*~

# System files
.DS_Store


# tests
Tests/Application/var/cache
Tests/Application/var/logs
Tests/Application/var/data

\.php_cs\.cache
