includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - .
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*
    symfony:
        container_xml_path: %currentWorkingDirectory%/Tests/Application/var/cache/admin/test/Sulu_Bundle_RedirectBundle_Tests_Application_KernelTestDebugContainer.xml
        console_application_loader: Tests/phpstan/console-application.php
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::children\(\)#'
            path: %currentWorkingDirectory%/DependencyInjection/Configuration.php
