<form id="redirect-routes-form" class="grid">
    <div class="form-group grid-row">
        <label for="redirect-routes-source" class="required"><%= translations.source %></label>
        <input type="text" id="redirect-routes-source" name="source" class="form-element input-bold required"
               data-mapper-property="source" data-validation-required="true" data-aura-placeholder="/source"/>
    </div>

    <div class="form-group grid-row">
        <label for="redirect-routes-target" class="required"><%= translations.target %></label>
        <input type="text" id="redirect-routes-target" name="target" class="form-element required"
               data-mapper-property="target" data-validation-required="true" data-aura-placeholder="/target"/>
    </div>
</form>
