name: Test application

on:
    pull_request:
    push:
        branches:
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    test:
        name: 'PHP ${{ matrix.php-version }} (${{ matrix.dependency-versions }})'
        runs-on: ubuntu-latest

        env:
            SYMFONY__DATABASE__PASSWORD: root

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '5.5'
                      dependency-versions: 'lowest'
                      tools: 'composer:v1'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: disabled
                    - php-version: '7.4'
                      dependency-versions: 'highest'
                      tools: 'composer:v2'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak

        services:
            mysql:
                image: mysql:5.7
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: 'mysql, gd'
                  tools: ${{ matrix.tools }}

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  dependency-versions: ${{matrix.dependency-versions}}

            - name: Create database
              run: |
                  Tests/app/console doctrine:database:create
                  Tests/app/console doctrine:schema:update --force
              env: ${{ matrix.env }}

            - name: Lint code
              run: composer validate --strict

            - name: Run tests
              run: time vendor/bin/phpunit
              env: ${{ matrix.env }}
